{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Ericsson OSS ASSURANCE Team Outing</title>
	<!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Rohan Roy"> 
	<!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}"> 
	<link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}">
	{% block style %}{% endblock %}
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>